.itemContainer {
  display: flex;
  padding: 25px;
  margin-top: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  border: 1px solid #646cff;
  transition: all 0.3s ease;
}

.itemContainer:hover {
  background: #646cff;
}

.imageContainer {
  border-radius: 15px;
  margin-right: 50px;
}

.itemImage {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.name {
  font-size: larger;
  font-weight: bold;
}

.amount {
  margin-top: 10px;
  font-weight: bold;
}
